body{
    margin: 0;
    padding: 0;
    background-image: url('../images/profileback.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.profile .profile-menu{
    display: flex;
    height: 15%;
    justify-content: right;
    padding: 2rem 2rem;
    color: white;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.profile .profile-menu i{
    cursor: pointer;
}




.top-section{
    display: flex;
    justify-content: center;
}

.top-section .profile-card{
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.profile-card .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.profile-card .profile-pic img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.profile-card .profile-pic img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.8rem 0.6rem white;
}

.profile-card .profile-pic .btn{
    transition: 0.2s ease-in-out;
    text-align: center;
}

.profile-card .profile-pic .buttons{
    display: flex;
    gap: 1rem;
}
.profile-card .profile-pic .buttons .select{
    width: 100%;
}
.profile-card .profile-pic .buttons .upload{
    width: 30%;
    display: none;
}

.profile-card .profile-pic .btn:hover{
    transform: scale(0.9);
}

.profile-card .profile-info{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.3);
    width: 80%;
    gap: 2rem;
}

.profile-card .profile-info .box{
    display: flex;
    align-items: center;
}

.profile-card .profile-info .box:hover{
    color: white;
}

.profile-card .profile-info .box .title{
    width: 30%;
}

.profile-card .profile-info .box .value{
    width: 65%;
}

.profile-card .profile-info .box i{
    width: 5%;
    cursor: pointer;
}